.header{
background-image: url(./download.jpg);
background-repeat: no-repeat;
min-height: 850px;
background-attachment: fixed;
background-size: 100% 100%;

/* background-position: center;
background-size: cover;
padding: 10px 8%;
position: relative; */
}
.container{
    display: flex;
    justify-content: space-between;
    background: none;
}
.btn1{
    color: white;
    margin-top: 12px;
    margin-right: 80px;
    width: 80px;
    height: 60px;
    background-color: red;
    border-radius: 19px;
    border: none;
}
.center{
    color: white;
    text-align: center;
    font-size: 20px;
    
}
input{
    background-color: black;
}
.email input{
color: black;
    border-radius: 2px;
    border: 30px;
    padding: 10px;
    width: 300px;
    height: 10px;
    /* display: flex; */
    align-items: center;
    margin-top: 20px;
}
.btn2{
    border: 10px;
    color: white;
    background-color: red;
    padding: 5px 20px;
    font-size: 25px;
border-radius: 5px;
}